
.accordion__toggle {
  @media (max-width: $mobile-width) {
    position: relative;

    display: block;
    width: 25px;
    height: 25px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 5px;

      width: 16px;
      height: 1px;

      background-color: $color-border-copyright-20;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.accordion__heading-block {
  @media (max-width: $mobile-width) {
    &--inactive {
      .accordion__toggle {
        height: 20px;

        &::after {
          content: " ";
          position: absolute;
          top: 10px;
          right: 4px;

          width: 16px;
          height: 1px;

          background-color: $color-border-copyright-20;
          transform: rotate(-90deg);
        }
      }

      + .accordion__block {
        display: none;
      }
    }
  }
}
