.accordion__title {
  @media (max-width: $mobile-width) {
    &::before {
      content: " ";
      position: absolute;
      top: 36px;
      right: 17px;

      width: 16px;
      height: 1px;

      background-color: $color-border-copyright-20;
    }

    &:hover {
      cursor: pointer;
    }

    &--inactive {
      height: 20px;

      &:hover {
        box-shadow: 0 0 3px 0 $color-dark-50;
      }

      &::after {
        content: "";
        position: absolute;
        top: 37px;
        right: 17px;

        display: block;
        width: 16px;
        height: 1px;

        background-color: $color-border-copyright-20;
        transform: rotate(-90deg);
      }

      + .accordion__block {
        display: none;
      }
    }
  }
}
