.btn {
  display: block;

  font-family: $font-family-secondary;
  text-align: center;
  color: $color-primary-light;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border-radius: 5px;
  cursor: pointer;

  transition: all 0.3s ease;
}
