.header-top {
  display: flex;
}

.header-top__logo-link {
  width: 199px;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 201px;
    padding-top: 8px;
  }
}

.header-top__logo-text {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header-top__contacts-item {
  margin-left: 41px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}
