.info-menu {
  display: flex;
  justify-content: flex-start;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.info-menu h3 {
  margin: 0;
  margin-bottom: 26px;
  margin-left: 2px;

  font-family: $font-family-secondary;
  color: $color-dark-gray;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include font(15px, 400, 16px);

  @media (max-width: $mobile-width) {
    position: relative;

    width: 100%;
    margin-bottom: 0;
    padding: 29px 13px 27px;

    &::after {
      content: " ";
      position: absolute;
      top: 37px;
      right: 19px;

      width: 16px;
      height: 1px;

      background-color: $color-border-copyright-20;

      &:hover {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.info-menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-menu a {
  color: $color-dark-gray-50;
  letter-spacing: 0.03em;

  transition: all 0.3s ease;

  @include font(15px, 400, 25px);

  &:hover,
  &:focus {
    color: $color-secondary-light;
  }
}

.info-menu__sitemap {
  min-width: 425px * 100% / 988px;
  margin-right: 230px;

  @media (max-width: 1500px) {
    min-width: 300px * 100% / 988px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 141px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;

    border-bottom: 1px solid $color-border-copyright-20;
  }
}

.info-menu__sitemap div {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px 28px;
  }
}


.info-menu__sitemap ul {
  &:first-child {
    margin-right: 15px;
  }

  @media (max-width: $tablet-width) {
    &:first-child {
      margin-right: 0;
    }
  }
}

.info-menu__contacts {
  min-width: 340px * 100% / 988px;
}

.info-menu__contacts ul {
  @media (max-width: $mobile-width) {
    padding: 0 15px 26px;
  }
}

.info-menu__contacts a,
.info-menu__sitemap a {
  letter-spacing: normal;
}

h3.info-menu__title--collapsed {
  @media (max-width: $mobile-width) {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 3px 0 $color-secondary-light;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 37px;
      right: 19px;

      width: 16px;
      height: 1px;

      background-color: $color-border-copyright-20;
      transform: rotate(-90deg);
    }
  }

  & + div,
  & + ul {
    display: none;
  }
}
