.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  cursor: default;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.logo__svg {
  @media (max-width: $mobile-width) {
    width: 42px;
    height: 38px;
  }
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;

  text-align: left;
}

.logo__text-big {
  font-family: $font-family-secondary;
  color: $color-primary-light;

  @include font (25px, 700, 29px);
}

.logo__text-small {
  font-family: $font-family-tertiary;
  color: $color-logo-subtitle;

  @include font (12px, 500, 14px);
}
